data/raw/
data/processed/
output/figures/*
output/tables/*
output/models/*
output/logs/*
!output/figures/.gitkeep
!output/tables/.gitkeep
!output/models/.gitkeep
!output/logs/.gitkeep
.Rhistory
.RData

output.zip
